{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'assets/img/logo-white.png' %}" alt="Logo">
                </div>
            <div class="login-right">
                <div class="login-right-wrap">
                    <h1>Register</h1>
                    <p class="account-subtitle">Access to our dashboard</p>
                    {% if messages %}
                    {{ message.tags }}
                    <div class="alert alert-primary" role="alert">
                        {% for message in messages %}
                        {{forloop.counter}}-{{ message }}
                        <br>
                        {% endfor %}
                    </div>

                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" required name="user_name" type="text" value="{{user_name}}" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input class="form-control" required name="mobile" type="text" value="{{phone_number}}" placeholder="Mobile" maxlength="10">
                        </div>
                        <div class="form-group">
                            <input class="form-control" required name="email" type="text" value="{{email}}" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input class="form-control" required name="password" type="password" value="{{password}}" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <input class="form-control" required name="confirm_password" type="password" value="{{confirm_password}}" placeholder="Confirm Password">
                        </div>
                        <div class="form-group mb-0">
                            <button class="btn btn-primary btn-block" type="submit">Register</button>
                        </div>
                    </form>
                    
                    <div class="text-center dont-have">Already have an account? <a href="{% url 'login' %}">Login</a></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>


{% endblock %}
</div>