
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             
             <li>
                <a href="{% url 'adv_index' %}"><i class="fa fa-desktop"></i> <span>Deshbord</span></a>
             </li>
             <li>
                <a href="{% url 'allclients' %}"><i class="fa fa-user"></i> <span>Clients</span></a>
             </li>
             <li>
                <a href="{% url 'newcase' %}"><i class="fa fa-plus"></i> <span>Add New Case</span></a>
             </li>
             <li class="submenu">
                <a href="#"><i class="fa fa-list"></i> <span> Cases</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="#"><i class="fa fa-folder-open"></i>Today Cases</a></li>
                   <li><a href="#"><i class="fa fa-calendar-day"></i>Tomarrow Cases</a></li>
                   <li><a href="#"><i class="fa fa-list"></i>All Cases</a></li>
                   <li><a href="#"><i class="fa fa-hourglass-start"></i>Date awaited Cases</a></li>
                   <li><a href="#"><i class="fa fa-handshake"></i> Decided Cases</a></li>
                   <li><a href="#"><i class="fa fa-ban"></i>Abandoned Cases</a></li>
                   
                </ul>
             </li>
             <li class="submenu">
                <a href="#"><i class="fa fa-wrench"></i> <span> Master</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="#">Case Type Master</a></li>
                   <li><a href="#">Court Master</a></li>
                   <li><a href="#">Police Station Master</a></li>
                   <li><a href="#">Act Master</a></li>
                </ul>
             </li>
             <li>
                <a href="#"><i class="fas fa-bell"></i> <span>Reminder</span></a>
             </li>

             

             <li>
                <a href="#"><i class="fas fa-users"></i> <span>Users</span></a>
             </li>
             <li>
                <a href="#"><i class="fas fa-address-card"></i> <span>Profile</span></a>
             </li>
             <li>
                <a href="#"><i class="fa fa-sign-out-alt"></i> <span>Logout</span></a>
             </li>

             
          </ul>
       </div>
    </div>
 </div>