{% load static %}
<!DOCTYPE html>
<html lang="en">
   
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>Advocate Diary-Dashboard</title>
      {% include 'css_head.html' %}
   </head>
   <body>
      
      
         {% include 'header.html' %}
         {% include 'sidebar.html' %}
         
         <!-- Offcanvas right Penal-->
         <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-body">
               <div class="container" id="offcanvas_body">

               </div>

            </div>   
            
            <div class="sticky-sm-bottom">
               <div class="col-md-12">
                   <div class="container">
                       <div class="row row-cols-lg-3 g-1 g-lg-3">
                           <div class="col">
                               <div class="p-3">
                                   <button type="button" class="btn btn-outline-primary">Case History</button>
                                   
                               </div>
                           </div>
                      
                           <div class="col">
                               <div class="p-3">
                                   <button type="button" class="btn btn-outline-primary">Next Date</button>
                               </div>
                           </div>
                           <div class="col">
                               <div class="p-3">
                                   <button type="button" class="btn btn-outline-primary">Court Transfer</button>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
         </div>

          
         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3 class="page-title">Welcome {{request.user.user_type}}!</h3>
                        <h3 class="page-title">{{request.user.user_name}}</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=all" style="text-decoration: none;">
                     <div class="card bg-one w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-list"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{active_case}} / {{total_case}}</h3>
                                 <h6>Active / Total Cases</h6>
                              </div>
                           </div>
                        </div>
                     
                     </div>
                     </a>
                  </div>
               
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=today" style="text-decoration: none;">
                     <div class="card bg-two w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-folder-open"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{today_cases}}</h3>
                                 <h6>Today Cases</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </a>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=tommarow" style="text-decoration: none;">
                     <div class="card bg-three w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-calendar-day"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{tommarow_cases}}</h3>
                                 <h6>Tommarow Cases</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </a>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=date_awaited" style="text-decoration: none;">
                     <div class="card bg-four w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-hourglass-start"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{date_awaited_case}}</h3>
                                 <h6>Date Awaited Cases</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
               </div>
               
               
               <div class="row">
                  <div class="col-md-12 d-flex">
                     <div class="card flex-fill">
                        <div class="card-body">
                           <div class="table-responsive">
                              <table class="table table-striped" id="myTable">
                                 <thead class="thead-light">
                                    <tr>
                                       <th>S.No</th>
                                       <th class="text-center">Case No</th>
                                       <th class="text-center">Court</th>
                                       <th class="text-center">Prev. Date</th>
                                       <th class="text-center">Case Title</th>
                                       <th class="text-center">Next Date</th>
                                       <th class="text-center">Stage</th>
                                       <th class="text-center">Action</th>
                                       
                                       
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for case in all_case %}
                                    
                                    <tr id="{{case.id}}">
                                       
                                       <td>{{forloop.counter0|add:all_case.start_index}}</td>
                                       <td class="text-center">{{case.case_no}} /{{case.case_year}} </td>
                                       <td class="text-center">{{case.court_no}}</td>
                                       <td class="text-center">{{case.last_date}}</td>
                                       {% if case.client_type == 'Respondent' %}
                                       <td class="text-center">{{case.petitioner}} V/S <b>{{case.respondent}}</b> </td>
                                       {% else %}
                                       <td class="text-center"><b>{{case.petitioner}}</b> V/S {{case.respondent}} </td>      
                                       {% endif %}
                                       
                                       <td class="text-center">{{case.next_date}}</td>
                                       <td class="text-center">{{case.stage_of_case}}</td>
                                       <td>
                                          <button type="button" class="btn btn-outline-secondary">Edit</button>
                                          <button type="button" onclick="function_oncanvas('{{case.id}}')" class="btn btn-outline-primary"data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Detail</button>
                                          <button type="button" class="btn btn-outline-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                       </td>
                                       
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                              <nav aria-label="...">
                                 <ul class="pagination">
                                   {% if all_case.has_previous %}
                                   <li class="page-item">
                                    <a class="page-link" href="adv-index?filter={{list_filter}}&page=1">First</a>
                                  </li>
                                  <li class="page-item">
                                    <a class="page-link" href="?filter={{list_filter}}&page={{all_case.previous_page_number}}">Previous</a>
                                  </li>
                                  {% endif %}

                                  {% for n in page_range %}
                                    {% if current_page_number == n %}
                                    <li class="page-item active" aria-current="page">
                                       <a class="page-link" href="?filter={{list_filter}}&page={{n}}">{{n}}</a>
                                    </li>
                                    {% elif n == '…'%}
                                    <li class="page-item">{{n}}</li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?filter={{list_filter}}&page={{n}}">{{n}}</a></li>
                                    {% endif %}
                                  
                                  {% endfor %}
                                 {% if all_case.has_next %}
                                   <li class="page-item">
                                     <a class="page-link" href="?filter={{list_filter}}&page={{all_case.next_page_number}}">Next</a>
                                   </li>
                                   <li class="page-item">
                                    <a class="page-link" href="?filter={{list_filter}}&page={{lastpage}}">Last</a>
                                  </li>
                                  
                                   {% endif %}
                                 </ul>
                               </nav>
                           </div>
                        </div>
                     </div>
                  </div>
                  
               </div>
               
            </div>
            
            {% include 'footer.html' %}
         </div>
      </div>
      
      <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>
      <script>
         function function_oncanvas(id){
            var url = "/advocate/offcanvas_body/?case_id="+id;
                $.get(url, function(data, status){
                  $("#offcanvas_body").html(data)
                });
         };
      </script>
      
   </body>
   
</html>