{% load static %}
<!DOCTYPE html>
<html lang="en">
   
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
      <title>Advocate Diary-Dashboard</title>
      {% include 'css_head.html' %}
   </head>
   <body>
      
      
         {% include 'header.html' %}
         {% include 'sidebar.html' %}
         
<!-- Modal for case convert in close -->
<div class="modal fade" id="modal_caseclose" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog" id="modal_caseclose_obj">
     
       
      
     
   </div>
 </div>


         <!-- Modal for Case History -->
<div class="modal fade" id="modal_casehistory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" id="modal_casehistory_obj">
     
       
      
     
   </div>
 </div>


 <!-- Modal for Cour Transfer -->
<div class="modal fade" id="modal_courttransfer" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" id="modal_courttransfer_obj">
     
       
      
     
   </div>
 </div>

         <!-- Modal for Next Date Update -->
         <div class="modal fade" id="modal_nextdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              
                
               <div class="modal-content">
                  
                  <div class="modal-header">
                     <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Next Date</h1>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <form method="post" action="{% url 'update_date' %}" enctype="multipart/form-data"> 
                        {% csrf_token %}
                     
                     <div id="form-group col">
                        <h3 class="modal-title fs-5" id="modal_title"></h3>
                     </div>
                        <input type="hidden" name="returnURL" value="{{request.build_absolute_uri}}">
                        <input type="hidden" name="case_id" value="">
                     <div class="form-group col">
                        <label>Next Date</label>
                        
                        <input class="form-control" name="next_date" type="date" required>
                     </div>
                     <div class="form-group col" >
                        <label>Fixed For - (Leave if same stage of case )</label>
                        <select class="form-control" name="stage_of_case" id="md_sg">
                           <option value="None" selected>Select Stage of Case</option>
                            {% for case_stage in case_stage_obj %}
                            <option value="{{case_stage.stage_of_case}}">{{case_stage.stage_of_case}}</option>
                            {% endfor %}
                            
                        </select>
                        
                    </div>
                     
                     <div class="form-group col">
                        <input class="form-control" name="comments" maxlength="50" type="text" placeholder="Comments">
                     </div>
                     <div class="form-group col">
                        <input class="form-control" name="file" type="file">
                     </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" id="btn_updatedate" class="btn btn-primary">update</button>
                        
                     </div>
                  </form>
                  </div>
                  
                  
                     
               </div>
              
            </div>
          </div>

         <!-- Modal for Delete client -->
<div class="modal fade" id="delinkcase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <div class="modal-dialog">
     
       
      <div class="modal-content">
         
         <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirmation</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div>
         <div class="modal-body">
            <form method="post"> 
               {% csrf_token %}
               Are you sure to delete Client ?
            </form>
              
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="" type="button" id="btn_delete" class="btn btn-primary">Delete</a>
          </div>
      
      </div>
     
   </div>
 </div>

         <!-- Offcanvas right Penal-->
         <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-body">
               <div class="container" id="offcanvas_body">

               </div>

            </div>   
            
            <div class="sticky-sm-bottom">
               <div class="col-md-12">
                   <div class="container">
                       <div class="row row-cols-lg-3 g-1 g-lg-3">
                           <div class="col">
                               <div class="p-3">
                                   <button type="button" id="btn_casehistory" value="" onclick="function_casehistory(this.value)" class="btn btn-outline-primary">Case History</button>
                                   
                               </div>
                           </div>
                      
                           <div class="col">
                               <div class="p-3">
                                   <button type="button" id="btn_nextdate" value="" onclick="function_modal_nextdate(this.value)" class="btn btn-outline-primary">Next Date</button>
                               </div>
                           </div>
                           <div class="col">
                               <div class="p-3">
                                    <button type="button" id="btn_courttransfer" value="" onclick="function_courttransfer(this.value)" class="btn btn-outline-primary">Court Transfer</button>
                                    
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
         </div>

          
         <div class="page-wrapper">
            <div class="content container-fluid">
               <div class="page-header">
                  <div class="row">
                     <div class="col-sm-12">
                        <h3 class="page-title">Welcome {{request.user.user_type}}!</h3>
                        <h3 class="page-title">{{request.user.user_name}}</h3>
                        <ul class="breadcrumb">
                           <li class="breadcrumb-item active">Dashboard</li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row">
                  
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=all" style="text-decoration: none;">
                     <div class="card bg-one w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-list"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{active_case}} / {{total_case}}</h3>
                                 <h6>Active / Total Cases</h6>
                              </div>
                           </div>
                        </div>
                     
                     </div>
                     </a>
                  </div>
               
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=today" style="text-decoration: none;">
                     <div class="card bg-two w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-folder-open"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{today_cases}}</h3>
                                 <h6>Today Cases</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </a>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=tommarow" style="text-decoration: none;">
                     <div class="card bg-three w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-calendar-day"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{tommarow_cases}}</h3>
                                 <h6>Tommarow Cases</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </a>
                  </div>
                  <div class="col-xl-3 col-sm-6 col-12 d-flex">
                     <a href="?filter=date_awaited" style="text-decoration: none;">
                     <div class="card bg-four w-100">
                        <div class="card-body">
                           <div class="db-widgets d-flex justify-content-between align-items-center">
                              <div class="db-icon">
                                 <i class="fa fa-hourglass-start"></i>
                              </div>
                              <div class="db-info">
                                 <h3>{{date_awaited_case}}</h3>
                                 <h6>Date Awaited Cases</h6>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </a>
               </div>
               
               
               <div class="row">
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                     <button class="btn btn-outline-primary" type="button">Export in PDF & Mail</button>
                   </div>
                  <div class="col-md-12 d-flex">
                     
                     <div class="card flex-fill">
                        
                        <div class="card-body">
                           
                           <div class="table-responsive">
                              
                              <table class="table table-striped" id="myTable">
                                 
                                 <thead class="thead-light">
                                    <tr>
                                       <th>S.No</th>
                                       <th class="text-center">Case No</th>
                                       <th class="text-center">Court</th>
                                       <th class="text-center">Prev. Date</th>
                                       <th class="text-center">Case Title</th>
                                       <th class="text-center">Next Date</th>
                                       <th class="text-center">Stage</th>
                                       <th class="text-center">Action</th>
                                       
                                       
                                    </tr>
                                 </thead>
                                 <tbody>
                                    {% for case in all_case %}
                                    
                                    <tr id="{{case.id}}">
                                       
                                       <td>{{forloop.counter0|add:all_case.start_index}}</td>
                                       <td class="text-center">{{case.case_no}} /{{case.case_year}} </td>
                                       <td class="text-center">{{case.court_no}}</td>
                                       <td class="text-center">{{case.last_date}}</td>
                                       {% if case.client_type == 'Respondent' %}
                                       <td class="text-center" id="title_{{case.id}}">{{case.petitioner}} V/S <b>{{case.respondent}}</b> </td>
                                       {% else %}
                                       <td class="text-center" id="title_{{case.id}}"><b>{{case.petitioner}}</b> V/S {{case.respondent}} </td>      
                                       {% endif %}
                                       
                                       <td class="text-center">
                                          {% if list_filter == 'today' or list_filter == 'date_awaited' %}
                                          <a href="#" id="{{case.id}}" onclick="function_modal_nextdate('{{case.id}}')">{{case.next_date}}</a>
                                          {% else %}
                                          <a>{{case.next_date}}</a>
                                          {% endif %}
                                       </td>
                                       <td class="text-center">{{case.stage_of_case}}</td>
                                       <td class="text-center">
                                          <a href="case-edit/{{case.id}}" type="button"  class="btn btn-outline-secondary">Edit</a>
                                          <button type="button" onclick="function_oncanvas('{{case.id}}', '{{list_filter}}')" class="btn btn-outline-primary"data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Detail</button>
                                          <button type="button" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Action</button>
                                          <ul class="dropdown-menu">
                                             <li><button type="button" class="dropdown-item" onclick="function_modal_caseclosed('{{case.id}}', 'Decided')">Decided</button></li>
                                             <li><hr class="dropdown-divider"></li>
                                             <li><button type="button" class="dropdown-item"  onclick="function_modal_caseclosed('{{case.id}}', 'Closed')">Closed - Other</button></li>
                                           </ul>
                                       </td>
                                       
                                    </tr>
                                    {% endfor %}
                                 </tbody>
                              </table>
                              
                              <nav aria-label="...">
                                 <ul class="pagination">
                                   {% if all_case.has_previous %}
                                   <li class="page-item">
                                    <a class="page-link" href="adv-index?filter={{list_filter}}&page=1">First</a>
                                  </li>
                                  <li class="page-item">
                                    <a class="page-link" href="?filter={{list_filter}}&page={{all_case.previous_page_number}}">Previous</a>
                                  </li>
                                  {% endif %}

                                  {% for n in page_range %}
                                    {% if current_page_number == n %}
                                    <li class="page-item active" aria-current="page">
                                       <a class="page-link" href="?filter={{list_filter}}&page={{n}}">{{n}}</a>
                                    </li>
                                    {% elif n == '…'%}
                                    <li class="page-item">{{n}}</li>
                                    {% else %}
                                    <li class="page-item"><a class="page-link" href="?filter={{list_filter}}&page={{n}}">{{n}}</a></li>
                                    {% endif %}
                                  
                                  {% endfor %}
                                 {% if all_case.has_next %}
                                   <li class="page-item">
                                     <a class="page-link" href="?filter={{list_filter}}&page={{all_case.next_page_number}}">Next</a>
                                   </li>
                                   <li class="page-item">
                                    <a class="page-link" href="?filter={{list_filter}}&page={{lastpage}}">Last</a>
                                  </li>
                                  
                                   {% endif %}
                                   
                                 </ul>
                                 
                               </nav>
                               
                           </div>
                        </div>
                     </div>
                  </div>
                  
               </div>
               
            </div>
            
            {% include 'footer.html' %}
         </div>
      </div>
      
      <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
      <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
      <script src="{% static 'assets/js/script.js' %}"></script>
      <script>
         function function_oncanvas(id, filter){
            var url = "/advocate/offcanvas_body/?case_id="+id+'&filter='+filter;
                $.get(url, function(data, status){
                  document.getElementById('btn_nextdate').value = id
                  document.getElementById('btn_casehistory').value = id
                  document.getElementById('btn_courttransfer').value = id
                  $("#offcanvas_body").html(data)
                });
         };

         function function_casehistory(id){
            var url = "/casehistory/?case_id="+id;
            $.get(url, function(data, status){
               $('#modal_casehistory').modal("show");
               $("#modal_casehistory_obj").html(data);
            });
            
            
            
         };

         function function_courttransfer(id){
            var url = "/courttransfer/?case_id="+id;
            $.get(url, function(data, status){
               $('#modal_courttransfer').modal("show");
               $("#modal_courttransfer_obj").html(data);
            });
            
            
            
         };

       
         

         function function_modal_caseclosed(id, action){
            
            var url = "/case_closed/?case_id="+id+'&action='+action;
            $.get(url, function(data, status){
               $('#modal_caseclose').modal("show");
               $("#modal_caseclose_obj").html(data);
            });
            
         };

         function function_modal_nextdate(id){
            
            document.getElementsByName('case_id')[0].value = id
            title = document.getElementById('title_' + id).innerHTML
            document.getElementById('modal_title').innerHTML = title
            $('#modal_nextdate').modal("show");
         };

         
      </script>
      
   </body>
   
</html>